@mixin hero {
    background-position: center;
    background-size: cover;
    height: 83vh;
    padding: 0px 50px 0px 50px;
    border-radius: 10px;
    display: flex;
   /*  justify-content: center; */
    align-items: center;

    
}

@mixin layout {
    background-position: center;
    background-size: cover;
    height: 83vh;
    padding: 0px 50px 0px 50px;
    border-radius: 10px;
    display: flex;
/*     justify-content: flex-end; */
    align-items: flex-end;

    
}


@mixin padding-sides{
    padding: 0px 30px 0px 30px;
}

@mixin padding-side{
    padding: 60px 0px 60px 0px;
}

 @mixin btn1{
        font-family: 'avenir_lt_65_mediumbold' ;
        background-color:  rgba(178, 144, 76, 1) ;
        border: 1px solid   rgba(178, 144, 76, 1)  ;
        color: white;
        width: 180px;
        height: 50px;
        font-size: 22px;
        border-radius: 5px;

        &:hover{
            color:black;
        }
    
    } 
  

    @mixin mediaQuery($breakpoint...){
        @if length($breakpoint) == 1 {
            @media (max-width: nth($breakpoint, 1)){
                @content;
            }
        }
        @if length($breakpoint) == 2{
            @media (max-width: nth($breakpoint, 1)) and (min-width: nth($breakpoint, 2)){
                @content;
            }
        }
    }
      